{% extends 'core/base.html' %}

{% load bootstrap5 %}
{% load bootstrap %}

{% block content %}

<form action="" method="" class="p-4 mt-4 bg-light col-sm-12 col-md-11 col-lg-10 roudend shadow" >

    {% csrf_token %}
    {% comment %} {% bootstrap_form frm  %}

    {% buttons %}    {% endcomment %}

    {{frmfac|bootstrap}}    
    {{frmdet}}
    <button id="agregar-linea" type="button">Agregar línea</button>

    

{% buttons %}
{% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
{% endbuttons %} 

</form> 




{% endblock content %}