<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Documento</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Activo</th>
            <th scope="col">Archivo</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        {% for solicitud_credito in pagina_paginator %}
        <tr>
            <td>{{solicitud_credito.documento }}</td>
            <td>{{solicitud_credito.descripcion}}</td>
            <td class="text-center">
                <input type="checkbox" checked="{{solicitud_credito.activo}}">
            </td>
            <td>
                <a href="/media/{{solicitud_credito.plantilla_solicitud_ruta}}" download><box-icon type='solid' name='file-doc'></box-icon></a>
            </td>
            <td>
                <a href="{% url 'fondo:editar_solicitud_general' solicitud_credito.id_solicitud_general %}" class="btn btn-primary">Editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>