{% extends 'core/base.html' %}

{% load bootstrap %}
{% load bootstrap5 %}


{% comment %} Formulario {% endcomment %}
{% block content %}


<!-- Este if valida si existe la ID sino pues no carga el formulario evitando caidas -->

    <form action="{% url 'fondo:editar_solicitud_general' solicitud_general.id_solicitud_general %}" method="POST" class="p-4 mt-5 bg-light col-sm-12 col-md-11 col-lg-10 rounded shadow">
        {% csrf_token %}
        {{form|bootstrap}}
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>


{% endblock content %}
{% comment %} Botones {% endcomment %}

