{% extends 'core/base.html' %}

{% load bootstrap %}
{% load bootstrap5 %}


{% comment %} Formulario {% endcomment %}
{% block content %}

<form action="" method="POST" class="p-4 mt-4 bg-light col-sm-12 col-md-11 col-lg-10 roudend shadow">

    {% csrf_token %}






    <div class="container mt-4">

        <div class="row mb-3">
            <div class="col">
                <form action="" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search_term"
                            placeholder="Buscar tipo de descuento" value="{{ search_term }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>





        <div class="row">
            <div class="col">

                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Atributo</th>
                                <th scope="col">Tipo de dato</th>
                                <th scope="col">Obligatorio</th>
                                <th scope="col">Fecha de creación</th>
                                <th scope="col">Fecha de modificación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in frm %}
                            <tr>

                                <td>{{ data.ATRIBUTO }}</td>
                                <td>{{ data.TIPO_DATO }}</td>
                                <td>{{ data.OBLIGATORIO }}</td>
                                <td>{{ data.fecha_creacion }}</td>
                                <td>{{ data.fecha_modificacion }}</td>
                                <td>
                                    <form action="#" method="GET">
                                        <button type="submit" class="btn btn-primary">Editar</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col">
                <nav aria-label="Paginación">
                    <ul class="pagination justify-content-center">
                        {% if frm.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ frm.previous_page_number }}" aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for i in frm.paginator.page_range %}
                        {% if frm.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if frm.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ frm.next_page_number }}" aria-label="Siguiente">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            {% buttons %}
            {% endbuttons %}
        </div>
    </div>

</form>
{% endblock content %}
{% comment %} Botones {% endcomment %}