{% extends 'core/base.html' %}

{% block menu %}
      <div class="row row-cols-1 row-cols-md-6 g-5">
        {% for modulo in modulos %}  
        <div class="col-sm-2 mb-3 mb-sm-0">
            <div class="card h-100 ">
                <div class="card-header">
                    <div class="text-center">
                        <img src="/media/{{modulo.foto_modulo_ruta}}" class="card-img-top justify-content-center" 
                        style="object-fit:cover; width: 20rem; max-width: 100%; height: 20rem; max-height: 100%">
                        <h2 class="card-title">{{modulo.nombre_modulo}}</h2>                        
                    </div>
                </div>                
                <div class="card-header">
                    <div class="text-center">
                        <a class="btn btn-success w-75" href="{{modulo.url_modulo}}">Ir al módulo</a>                        
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text text-justify h5"><b>Descripción: </b>{{modulo.descripcion}}</p>              
                </div>
            </div>
        </div>
      
        {% endfor %}
      </div>
      <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          
        </div>
      </div>
  {% comment %} {% include 'core/modulos/general/menu.html' %} {% endcomment %}
{% endblock menu %}