{% extends 'core/base.html' %}

{% load bootstrap %}
{% load bootstrap5 %}


{% comment %} Formulario {% endcomment %}
{% block content %}

<form action="" method="POST" class="p-4 mt-5 bg-light col-sm-12 col-md-11 col-lg-10 roudend shadow">

    {% csrf_token %}





    <!-- CONTENEDOR GENERAL -->
    <div class="container mt-4">

        <!-- El div para el buscador junto con su form pero sin accion -->
        <div class="row mb-3">

            <div class="col">
                <form action="" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search_term"
                            placeholder="Buscar un socio" value="{{ search_term }}"
                            hx-post= "{% url 'fondo:buscar_socio' %}"
                            hx-trigger="input"
                            hx-target="#actualizar_busqueda">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit"
                                hx-post= "{% url 'fondo:buscar_socio' %}"
                                hx-trigger="click"
                                hx-target="#actualizar_busqueda">
                                Buscar
                            </button>
                        </div>
                        <div class="mr-2">
                            <a href="{% url 'fondo:crear_socio' %}" class="btn btn-success">Agregar socio</a>
                        </div>
                    </div>
                </form>
            </div>




        </div>




        <!-- El div para la tabla -->
        <div class="row">
            <div class="col">
                <div class="table-responsive" id="actualizar_busqueda">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Identificación</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Apellidos</th>
                                <th scope="col">Ciudad</th>
                                <th scope="col">Provincia</th>
                                <th scope="col">País</th>
                                <th scope="col">Género</th>
                                <th scope="col">N° aportaciones</th>
                                <th scope="col">Total ahorrado</th>
                                <th scope="col">Total Garantizado</th>
                                <th scope="col">Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for socio in socios_list %}
                            <tr>
                                <td>{{ socio.identificacion }}</td>
                                <td>{{ socio.nombres }}</td>
                                <td>{{ socio.apellido_paterno }} {{ socio.apellido_materno }}</td>
                                <td>{{ socio.ciudad }}</td>
                                <td>{{ socio.provincia }}</td>
                                <td>{{ socio.pais }}</td>
                                <td>{{ socio.genero }}</td>
                                <td>{{ socio.numero_aportaciones }}</td>
                                <td>{{ socio.total_ahorrado }}</td>
                                <td>{{ socio.total_garantizado }}</td>
                                <td>
                                    <a href= "{% url 'fondo:editar_socio' pk=socio.id_socio %}" class="btn btn-primary">
                                        Editar
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <!-- El div para la paginacion -->
        <div class="row">
            <div class="col">
                <nav aria-label="Paginación">
                    <ul class="pagination justify-content-center">
                        {% if socios_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ socios_list.previous_page_number }}"
                                aria-label="Anterior">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}

                        {% for i in socios_list.paginator.page_range %}
                        {% if socios_list.number == i %}
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if socios_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ socios_list.next_page_number }}"
                                aria-label="Siguiente">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            {% buttons %}
            {% endbuttons %}
        </div>
    </div>

</form>
{% endblock content %}
{% comment %} Botones {% endcomment %}