<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tipo fondo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        {% for tipo_fondo in pagina_paginator %}
        <tr>
            <td>{{ tipo_fondo.tipo }}</td>
            <td>{{ tipo_fondo.descripcion}}</td>
            <td>
                <form action="{% url 'fondo:editar_tipo_fondo' tipo_fondo.codigo %}" method="GET">
                    <button type="submit" class="btn btn-primary">Editar</button>
                  </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>