{% load static %}

<div class="sidebar close" style="background-color: #1B7505;">
    <div class="logo-details ">
      <!-- <i class='bx bxl-c-plus-plus'></i> -->
      <i><box-icon class="btn-menu" color="white" size="lg" type='solid' name='bank'></box-icon></i> 

      <span class="logo_name btn-menu">FCPC-UTEQ</span>
    </div>

   
    
    <ul class="nav-links">
      <li>
        <a href="#">
          <i><box-icon color="white" type='regular' name='home-alt-2'></box-icon></i> 
        
          <span class="link_name">Inicio</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Inicio</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Créditos</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Creditos</a></li>
          <li><a href="#">Pagos</a></li>
          <li><a href="#">Solicitud de credito</a></li>
          <li><a href="#">Créditos</a></li>
          <li><a href="#">Reportes</a></li>

        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Aportes</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Aportes</a></li>
          <li><a href="#">Descuento a partícipes</a></li>
          <li><a href=" {% url 'creditos:crear_tipo_credito' %} ">Crear tipo de credito</a></li>
          <li><a href="#">Solicitud de credito</a></li>
          <li><a href="#">Créditos</a></li>
          <li><a href="#">Reportes</a></li>

        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">  Socios</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Socios</a></li>
          <li><a href="#">Agregar socio</a></li>
          <li><a href="#">##</a></li>
          <li><a href="#">##</a></li>
          <li><a href="#">##</a></li>

        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">  Contable</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Contable</a></li>
          <li><a href=" {% url 'moduloContable:cuentas_contable_inicio' %} ">Catálogo de cuentas</a></li>
          <li><a href=" {% url 'moduloContable:cuentas_contable_crear' %} ">Agregar Cuentas</a></li>
          <li><a href="#">##</a></li>
          <li><a href="#">##</a></li>

        </ul>
      </li>





      <li>
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Reportes</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Reportes</a></li>
        </ul>
      </li>
     
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Configuración</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Setting</a></li>
        </ul>
      </li>
      <li>

   




  

    
  </li>
  <div id="cont">
    <div id="contOne" class="align-bottom">
      <div class="container">
        <img id="estiloImgBotton" 
        src="{% static 'img/logo_dev_coders.svg'%}">
        <p id="equipo"></p>
      </div>
    </div>
</div>
</ul>
  </div>



