{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'core/dependencies.html' %}
    <title>{{title}}</title>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% include 'core/aside-menu.html' %}
    
    <section class="home-section overflow-auto">
        <div class="home-content sticky-top">
            <span class="text">{{title}}</span>
        </div>
        <div class=" d-flex justify-content-center container-fluid pt-2 p-5">
            {% block content%}

            {% endblock content%}

            
        </div>
        <script src="{% static  'js/aside-menu.js' %}"></script>


    </section>




{% include "tools/toast.html" %}
  



    



    
</body>
</html>

