{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'core/dependencies.html' %}
    <title>{{title}}</title>
</head>
<body>
    {% include 'core/aside-menu.html' %}
    
    <section class="home-section overflow-auto">
        <div class="home-content sticky-top">
            <i><box-icon class="btn-menu" color="black" size="lg" type='solid' name='cog'></box-icon></i> 
            <span class="text"></span>
        </div>
        <div class="container-fluid pt-2 p-5">
            {% block content%}
    
            {% endblock content%}
        </div>
        <script src="{% static  'js/aside-menu.js' %}"></script>


    </section>





    
</body>
</html>

