{% load static %}

<div class="sidebar bg-dark" style="background-color: #1B7505;">
    <div class="logo-details">
      <!-- <i class='bx bxl-c-plus-plus'></i> -->
      <i><box-icon class="btn-menu" color="white" size="lg" type='solid' name='bank'></box-icon></i> 

      <span class="logo_name btn-menu m-0">FCPC-UTEQ</span>
    </div>

    <ul class="nav-links">
      <li>
        <div class="iocn-link bg-warning">
          <a href="#">  
            <i class='bx bx-collection' ></i>
            <span class="link_name">Módulo Contable </span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu bg-warning">
          <li><a class="link_name" href="#">Módulo Contable</a></li>
          <li><a href="{% url 'core:mod_fondo' %}">Modulo de Fondo</a></li>
          <li><a href="{% url 'core:mod_admin' %}">Modulo de Sistema</a></li>
        </ul>
      </li>


    
      <li>
        <a href="#">
          <i><box-icon color="white" type='regular' name='home-alt-2'></box-icon></i> 
          <span class="link_name">Inicio</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Inicio</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Libro diario</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Libro diario</a></li>
          <li><a href="#">Ver libro</a></li>
        </ul>
      </li>

      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Parámetros</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Parámetros</a></li>
          <li><a href="#">Cuentas contables</a></li>
          <li><a href="#">Tipo de documentos</a></li>
          <li><a href="#">Tipo de transacciones</a></li>
          <li><a href="#">Plantillas contables</a></li>
        </ul>
      </li>


      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Reportes</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Reportes</a></li>
          <li><a href="#">Catálogo de cuentas</a></li>
          <li><a href="#">Asientos contables</a></li>
          <li><a href="#">Situación finaciera</a></li>
          <li><a href="#">Perdidas y ganancias</a></li>
        </ul>
      </li>

   

    
  </li>
  
  <div id="cont">
    <div id="contOne" class="align-bottom">
      <div class="container">
        <img id="estiloImgBotton" 
        src="{% static 'img/logo_dev_coders.svg'%}">
        <p id="equipo"></p>
      </div>
    </div>
</div>
</ul>
  </div>




