{% extends 'core/base.html' %}

{% load bootstrap %}
{% load bootstrap5 %}


{% comment %} Formulario {% endcomment %}
{% block content %}
{% csrf_token %}
    <form action="" method="POST" class="p-4 mt-5 bg-light col-sm-12 col-md-11 col-lg-10 rounded shadow">
        
     
        <!-- Este if valida si existe la ID sino pues no carga el formulario evitando caidas -->
        
        {{all_parametros|bootstrap}}
       
        
        
        



        <div class="row">
            <div class="col">
                {% buttons %}
                {% endbuttons %}
            </div>
        </div>


    </form>


{% endblock content %}

{% comment %} Botones {% endcomment %}

