{% extends 'core/base.html' %}

{% load bootstrap %}
{% load bootstrap5 %}


{% comment %} Formulario {% endcomment %}
{% block content %}

<form action="" method="POST" class="p-4 mt-4 bg-light col-sm-12 col-md-11 col-lg-10 roudend shadow" >

    {% csrf_token %}
    {% comment %} {% bootstrap_form frm  %}

    {% buttons %}    {% endcomment %}

    <div class="row ">

          <div class="col-md-4 col-lg-3 col-xl-2">
            {% bootstrap_field frm.cedula layout='floating'   show_help=False     placeholder=frm.cedula.help_text      addon_after='<a href="#" class="btn btn-dark rounded-0 rounded-end ms-1 p-0 px-1 shadow" data-bs-toggle="modal" data-bs-target="#seleccionar-socio-modal" ><box-icon  name="file-find" color="white" class="mt-1"></box-icon></a>'  addon_after_class=None %}
          </div> 

          <div class="col-md-8 col-lg-6 col-xl-6">
            {% bootstrap_field frm.nombres %}

          </div>

          <div class="col-md-3 col-lg-3 col-xl-2">
            {% bootstrap_field frm.genero %}
          </div>

          <div class="col-md-3 col-lg-4 col-xl-2">
            {% bootstrap_field frm.estado_civil %}
          </div>

          <div class="col-md-6 col-lg-8 col-xl-4">
            {% bootstrap_field frm.email show_help=False  %}
          </div>

          <div class="col-md-6 col-lg-4 col-xl-3">
            {% bootstrap_field frm.fecha_nacimiento %}
          </div>

          <div class="col-md-3 col-lg-4 col-xl-2">
            {% bootstrap_field frm.telefono %}
          </div>

          <div class="col-md-3 col-lg-4 col-xl-3">
            {% bootstrap_field frm.celular %}
          </div>
          
          <div class="col-12">
            {% bootstrap_field frm.direccion %}
          </div>

    </div>

 {% buttons %}
{% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}

{% endbuttons %} 

</form> 

{% include "socios/modals/seleccionar_socio.html" %}


{% endblock content %}
{% comment %} Botones {% endcomment %}

